.cart {
  background: rgb(17, 16, 17);
  display: none;
  padding: 32px;
  position: fixed;
  right: 0px;
  top: 0px;
  width: 200px;
}
.cart img {
  aspect-ratio: 16/9;
  width: 100%;
}
.cart li {
  border-bottom: 1px solid #444;
  padding-bottom: 16px;
}

.cart footer {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.cart footer button {
  background-color: #ce06e8;
  padding: 6px;
}
.cart-button {
  position: fixed;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 9999px;
  height: 32px;
  justify-content: center;
  padding: 4px;
  transition: all 0.1s ease;
  width: 32px;
  z-index: 9999;
}

.cart-count {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 12px;
}

.cart-button:hover {
  scale: 1.1;
}

.cart-button ~ input:checked ~ .cart {
  height: 100%;
  display: block;
}
